<footer class=" footer bg-primary rounded-top text-center">
    <div class="container py-2">
        <p class="text-white my-2">
            &copy;{{ autor.nombre }} {{ autor.apellido }} {{ autor.fecha }} 
        </p>
    </div>
</footer>