<div class="container">
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha</th>
        <th scope="col">Edad</th>
        <th scope="col">Dias Faltantes para Cumplir</th>
        <th scope="col">Felicitaciones</th>
        <th scope="col">Poema</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuariosList">
        <td scope="row">{{ usuario.id}}</td>
        <td scope="row">{{ usuario.nombre }}</td>
        <td scope="row">{{ usuario.apellido }}</td>
        <td scope="row">{{ usuario.fecha }}</td>
        <td scope="row">{{ usuario.edad }}</td>
        <td scope="row">{{ usuario.faltantes }}</td>
        <td scope="row">{{ usuario.felicitaciones }}</td>
        <td scope="row">{{ usuario.poema }}</td>
      </tr>
    </tbody>
  </table>
</div>