<div class="container py-1 my-1">
    <div class="starter-template">
        <div class="row">
            <div class="col-md-12 mt-5">
                <form [formGroup]="contacto" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>Nombres</label>
                        <input type="text" formControlName="nombres" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }" />
                        <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                            <div *ngIf="f.nombres.errors.required">Por favor, ingresa tus Nombres</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Apellidos</label>
                        <input type="text" formControlName="apellidos" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }" />
                        <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                            <div *ngIf="f.apellidos.errors.required">Por favor, ingresa tus Apellidos</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Fecha Nacimiento</label>
                        <input type="text" formControlName="fecha" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.fecha.errors }" />
                        <div *ngIf="submitted && f.fecha.errors" class="invalid-feedback">
                            <div *ngIf="f.fecha.errors.required">Por favor, tu Fecha de Nacimiento</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button  class="btn btn-primary">Aceptar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
    
</div>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Fecha</th>
        <th scope="col">Edad</th>
        <th scope="col">Dias Faltantes para Cumplir</th>
        <th scope="col">Felicitaciones</th>
        <th scope="col">Poema</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">{{ usuario?.id }}</td>
        <td scope="row">{{ usuario?.nombre }}</td>
        <td scope="row">{{ usuario?.apellido }}</td>
        <td scope="row">{{ usuario?.fecha }}</td>
        <td scope="row">{{ usuario?.edad }}</td>
        <td scope="row">{{ usuario?.faltantes }}</td>
        <td scope="row">{{ usuario?.felicitaciones }}</td>
        <td scope="row">{{ usuario?.poema }}</td>
      </tr>
    </tbody>
  </table>